#brand {
  a: b;
}
#brand div.wrap {
  a: b;
}
#brand div.wrap h2 {
  a: b;
}
#brand div.wrap div {
  a: b;
}
#brand div.wrap div img {
  a: b;
}
#brand div.wrap div h3 {
  a: b;
}
#brand div.wrap div p {
  a: b;
}
#brand div.wrap div ul {
  a: b;
}
#brand div.wrap div ul li {
  a: b;
}
#brand div.wrap div ul li a {
  a: b;
}
#brand div.wrap div ul li a img {
  a: b;
}
#brand div.wrap div ul li a h3 {
  a: b;
}
#brand div.wrap div ul li a p {
  a: b;
}