header {
  a: b;
}
header div {
  a: b;
}
header div ul.gnbAni {
  a: b;
}
header div ul.gnbAni li {
  a: b;
}
header div h1 {
  a: b;
}
header div span {
  a: b;
}
header div ul.second {
  a: b;
}
header div ul.second li {
  a: b;
}
header div ul.second li a {
  a: b;
}
header div ul.third {
  a: b;
}
header div ul.third li {
  a: b;
}
header div ul.third li a {
  a: b;
}