#recommend {
  a: b;
}
#recommend div.inner {
  a: b;
}
#recommend div.inner h2 {
  a: b;
}
#recommend div.inner a {
  a: b;
}
#recommend div.inner ul {
  a: b;
}
#recommend div.inner ul li {
  a: b;
}
#recommend div.inner ul li a {
  a: b;
}
#recommend div.inner ul li a img {
  a: b;
}
#recommend div.inner ul li p {
  a: b;
}