#rennew {
  a: b;
}
#rennew div.wrap {
  a: b;
}
#rennew div.wrap h2 {
  a: b;
}
#rennew div.wrap ul {
  a: b;
}
#rennew div.wrap ul li {
  a: b;
}
#rennew div.wrap ul li a {
  a: b;
}
#rennew div.wrap ul {
  a: b;
}
#rennew div.wrap ul li {
  a: b;
}
#rennew div.wrap ul li img {
  a: b;
}
#rennew div.wrap ul li span {
  a: b;
}
#rennew div.wrap ul li span p {
  a: b;
}