div#title {
  a: b;
}
div#title ul .titleAni {
  a: b;
}
div#title ul .titleAni li .t1 {
  a: b;
}
div#title ul .titleAni li .t1 a {
  a: b;
}
div#title ul .titleAni li .t1 a h2 {
  a: b;
}
div#title ul .titleAni li .t1 a p {
  a: b;
}