#brand{a:b;
    div.wrap{a:b;
        h2{a:b;

        }
        div{a:b;
            img{a:b;
                }
            h3{a:b;

            }
            p{a:b;

            }
            ul{a:b;
                li{a:b;
                    a{a:b;
                        img{a:b;

                        }
                        h3{a:b;
                            
                        }
                        p{a:b;
                            
                        }
                            }
                        }
                    }
                }
            }    
            }
    