footer{a:b;
    div.wrap{a:b;
        div.left{a:b;
            h1{a:b;

            }
            h2{a:b;

            }
            address{a:b;
                span{a:b;

                }
            }
            p{a:b;
                span{a:b;

                }
                
            }
            a{a:b;
                
            }
            span{a:b;
                
            }
            a{a:b;

            }
            
        }
        div.right{a:b;
            ul.flex{a:b;
                li{a:b;
                    h2{a:b;
                        
                    }
                    ul{a:b;
                        li{a:b;
                            a{a:b;

                            }
                        }
                    }
                }
            }
            p{a:b;

            }
        }
    }
}