header{a:b;
    div{a:b;
        ul.gnbAni{a:b;
            li{a:b;

            }
        }
        h1{a:b;

        }
        span{a:b;

        }
        ul.second{a:b;
                li{a:b;
                    a{a:b;
                        
                    }
                }
        }
        ul.third{a:b;
                li{a:b;
                    a{a:b;

                    }
                }
        }
    }
}