#look{a:b;
    div{a:b;
        div.txt{a:b;
            h2{a:b;

            }
            p{a:b;

            }
            button{a:b;

            }

        }
        ul.cfGo{a:b;
            li.cf1{a:b;
                a{a:b;

                }
            }
            li.cf2{a;b;
                a{a;b;

                }
            }
            li.cf3{a;b;
                a{a;b;

                }
            }
            li.cf4{a;b;
                a{a;b;

                }
            }
        }
        span{a;b;
            button{a;b;

            }
        }
    }
}