#realway{a:b;
    div.wrap{a:b;
        h2{a:b;

        }
        div.inner{a:b;
            article{a:b;
                a.block.all{a:b;
                    h3{a:b;

                    }
                    p{a:b;
                        
                    }
                    img{a:b;
                        
                    }
                    p{a:b;

                    }
                }
                a.block.hash{a:b;

                }
            }
            >a.block.more{a:b;

            }
        }
    }
}