#recommend{a:b;
    div.inner{a:b;
        h2{a:b;
            
        }
        a{a:b;
            
        }
        ul{a:b;
            li{a:b;
                a{a:b;
                    img{a:b;

                    }
                }   p{a:b;

                }
            }
        }
    }
}