#rennew{a:b;
    div.wrap{a:b;
        h2{a:b;
            
        }
        ul{a:b;
            li{a:b;
                a{a:b;

                }
            }
        }
        ul{a:b;
            li{a:b;
                img{a:b;

                }
                span{a:b;
                    p{a:b;

                    }
                }
            }   
        }
    }
}