div#title{a:b;
    ul .titleAni{a:b;
        li .t1{a:b;
            a{a:b;
                h2{a:b;
                    
                }
                p{a:b;

                }
            }
        }

    }
}